<div class="container">
  <br>
  <h2>Welcome!</h2>

  <button class="btn btn-primary" (click)="AddLawn()">
    <i class="fas fa-plus"></i>
    Add Lawn
  </button>
  <button id="right" class="btn btn-primary" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    Logout
  </button>
  <br>
  <br>
  <!-- 
  <div class="row">
    <div class="col-sm-2">
      <h3> Lawn Area</h3>
    </div>
    <div class="col-sm-2">
      <h3> Lawn Address</h3>
    </div>
    <div class="col-sm-2">
      <h3>Silty</h3>
    </div>
    <div class="col-sm-2">
      <h3>Grasstype</h3>
    </div>
    <div class="col-sm-2">
      <h3>User</h3>
    </div>

  </div> -->

  <!-- <div *ngFor="let res of response; let i = index;">
    <div class="card">
    <div class="row">
      <div class="col-sm-2">
        {{res.lawnArea}} sqrft
      </div>
      <div class="col-sm-2">
        {{ res.lawnAddress.value }}
      </div>
      <div class="col-sm-2">
        {{ res.silty }}
      </div>
      <div class="col-sm-2">
        {{ res.grassType }}
      </div>
      <div class="col-sm-2">
        {{ res.user[0].firstname }},{{res.user[0].email}}
      </div>

      <div class="col-sm-1">
            <a (click)="deleteLawn(res._id)"><i class="fas fa-trash-alt"></i></a>
          </div>
      <div class="col-sm-2">
        <a [routerLink]="['/temp/',res.lawnAddress.lat,res.lawnAddress.lng,res.lawnAddress.value]"><i class="fas fa-eye"></i></a>
      </div>
    </div></div>  
    <hr>
  </div> -->
<div class="row">
  <div class="col-4" *ngFor="let res of response; let i = index;" >
   
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Lawn {{i+1}}

          <a id="right" (click)="deleteLawn(res._id)">
            <i class="fas fa-trash-alt"></i>
          </a> &nbsp;&nbsp;
          <a id="right" [routerLink]="['/temp/',res.lawnAddress.lat,res.lawnAddress.lng,res.lawnAddress.value]">
            <i class="fas fa-eye"></i>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{res.lawnArea}} sqrft - {{ res.lawnAddress.value }}</h5>
          <p class="card-text">Silty - {{ res.silty }}
            <br>Grass Type - {{ res.grassType }}
            <br><h5>Created by -<i> {{ res.user[0].firstname }},{{res.user[0].email}}</i></h5></p>
        </div>
      </div>
    

  </div>
</div>




</div>